html{
    box-sizing: border-box;
    height: 100%;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #0AC752, #0CFA66, #58FB96);
    display: flex;
    height: inherit;
    justify-content: center;
}

.wrapper {
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    flex-basis: 800px;
    height: 640px;
    padding: 20px 35px;
}

.viewer-container {
    height: 400px;
}