html{
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    background: linear-gradient(320deg, #0AC752, #0CFA66, #58FB96);
    height: inherit;
    justify-content: center;
}

textarea {
    resize: none;
}  

.wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    height: 85%;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    padding: 15px 35px;
}

.prompt-input {
    height: 15%;
}

.input-field-container {
    position: relative;
    width: 100%;
    height: 100px;
    display: block;
}

.input-field-container textarea {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 13px 10px;
    border: 2px solid lightgray;
    border-radius: 25px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
}

.input-field-container button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.viewer-container {
    width: 100%;
    height: 85%;
}

.viewer-container h1 {
    height: 2%;
}

.viewer-container .canvas {
    width: 100%;
    height: 94%;
    justify-content: center;
    border: 0 solid black;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.7);
}